<extend name="Public:base" />

<!-- 标题 -->
<block name="title">
    <title>管理主页</title>
</block>

<!-- 面包屑导航 -->
<block name="navigation">
    <section class="content-header">
        <h1>管理主页<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        </ol>
    </section>
</block>

<!-- 内容 -->
<block name="content">

    <div class="box box-primary direct-chat direct-chat-primary">
        <div class="box-header with-border">
            <h3 class="box-title"> 系统信息</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="padding:10px;">
            <div class="row">
                <h1>
				<center>
				欢迎使用！！！
				</center>
			</h1>
            </div>
        </div>
        <div class="box-footer"></div>
        <!-- /.box-footer-->
    </div>


</block>

<!-- js -->
<block name="js"></block>