<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<block name="title"><title>管理主页</title></block>
		<include file="Public:head"/>
		<block name="stylejs"></block>
	</head>
  
	<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="" class="logo">
				<!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>后</b>台</span>
				<!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>后台</b>管理系统</span>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<include file="Public:navbar"/>
				</div>
				 
			</nav>
		</header>
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar Menu -->
				<include file="Public:menu"/>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<block name="navigation">
			<section class="content-header">
				<h1>管理主页<small></small></h1>
				<ol class="breadcrumb">
					<li><a href="{:U('Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
				</ol>
			</section>
			</block>

			<!-- Main content -->
			<section class="content">
			<block name="content"></block>
			 
			</section><!-- /.content -->
		</div><!-- /.content-wrapper -->
		<!-- Main Footer -->
		<include file="Public:foot"/>
    </div><!-- ./wrapper -->
	<block name="js"></block>
  </body>
</html>