<extend name="Public:base" />

<!-- 标题 -->
<block name="title">
    <title>果园管理</title>
</block>

<!-- 面包屑导航 -->
<block name="navigation">
    <section class="content-header">
        <h1>果园列表<small></small></h1>
        <ol class="breadcrumb">
            <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
            <li class="active">果园管理</li>
        </ol>
    </section>
</block>

<!-- 内容 -->
<block name="content">
    <!-- Custom Tabs -->
    <div class="nav-tabs-custom">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab">果园列表</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">

                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-inline pull-right clearfix" id ="search-form">
                            <div class="input-group">
                                <input name="num" class="form-control" id="num" autocomplete="off" placeholder="帐号">
                            </div>
                            <div class="input-group">
                                <select class="form-control" name="level">
                                    <option value="0">请选择等级</option>
                                    <option value="1">贫农</option>
                                    <option value="2">中农</option>
                                    <option value="3">中上农</option>
                                    <option value="4">富农</option>
                                    <option value="5">农场主</option>
                                    <option value="6">庄园主</option>
                                    <option value="7">地产主</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat" type="button" id ="search-btn" >搜索</button>
                                </span>
                            </div>
                            <div class="input-group">
                                <button class="btn btn-info btn-flat" type="button" id ="search-clear" >重置</button>
                            </div>
                        </form>
                        <!--<div class="input-group" style="float:right;">-->
                            <!--<a class="btn btn-success btn-flat"   href="{:U('statis')}" id="commit_profit" target="_blank">-->
                            <!--&lt;!&ndash;<a class="btn btn-success btn-flat"  onclick="run(this)" href="javascript:;" id="commit_profit">&ndash;&gt;-->
                                <!--<i class="fa fa-fw fa-hand-o-right"></i>计算用户今天收益率</a>-->
                            <!--<span style="color:deeppink;display:none;">正在计算，请不要离开此页面...</span>-->
                        <!--</div>-->
                    </div>

                </div>

                <!-- datatable -->
                <table id="example" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>账号</th>
                        <th>生长总量</th>
                        <th>仓库果实</th>
                        <th>总量</th>
                        <th>种子</th>
                        <th>稻草人</th>
                        <th>狗</th>
                        <th>蜂蜜</th>
                        <th>仓库化肥量</th>
                        <th>施肥量</th>
                        <th>果园等级</th>
                        <th>土地数量</th>
                        <th style="text-align:center;padding-right: 8px;width:120px;">操作</th>
                    </tr>
                    </thead>

                </table>
                <!-- /datatable -->

            </div>
            <!-- /.tab-pane -->

        </div>
        <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->

</block>

<!-- js -->
<block name="js">
    <!-- page script -->
    <script src="__JS__/dataTables.js" type="text/javascript"></script>
    <script type="text/javascript">
        var table = null;
            $(document).ready(function() {
                table = $('#example').dataTable({
                "processing": true, //加载提示
                "serverSide": true, //服务端模式
                "ajax": {
                    "url": "{:U('Admin/Garden/index')}",
                    "type": "POST",
                    "data": {
                        'mycolumns': ['id', 'userName', 'totalGrow', 'houseFruit', 'totalNum', 'seed', 'scarecrow','dog','friendNum','totalFertilizer','doFertilizer','level','landNum'],
                    },
                },
                //展示的列
                "columns": [{
                    "data": "id"
                }, {
                    "data": "userName"
                }, {
                    "data": "totalGrow"
                }, {
                    "data": "houseFruit"
                }, {
                    "data": "totalNum"
                }, {
                    "data": "seed"
                }, {
                    "data": "scarecrow"
                },{
                    "data": "dog"
                },{
                    "data": "friendNum"
                },{
                    "data": "totalFertilizer"
                },{
                    "data": "doFertilizer"
                },
                    {
                    "data": "level"
                },{
                        "data":"landNum"
                    }
                ],
                //设置列排序
                "order": [
                    [0, "desc"]
                ],
                //列设置
                "columnDefs": [{
                    "targets": [0,1,2,3,4,5,6,7,8,9,10,11,12],
                    "orderable": false,
                },
                    {
                        "targets": [13],
                        "orderable": false,
                        "render": function(data, type, row) {
                            var btn = '<a href="__ROOT__/index.php/Admin/Garden/edit/id/' + row['id'] + '" class="btn btn-primary btn-xs btn-flat" >编辑</a>';
                            var btn = btn+' <a href="__ROOT__/index.php/Admin/Garden/land/id/' + row['userId'] + '" class="btn btn-primary btn-xs btn-flat" >查看</a>';

                            return btn;
                        },
                    },
                ],
            });

            //搜索
            $('#search-btn').on('click', function() {
                table.api().search($('#search-form').serialize()).draw();
            });
            //清除搜索
            $('#search-clear').on('click', function() {
                document.getElementById("search-form").reset();
                table.api().search('').draw();
            });
        });

        document.onkeydown = function(e) {
            var ev = document.all ? window.event : e;
            if (ev.keyCode == 13) {
                table.api().search($('#search-form').serialize()).draw();
                return false;
            }
        }


    </script>

</block>