<extend name="Public:base" />

<!-- 标题 -->
<block name="title"><title>编辑公告</title></block>
<block name="stylejs">
<link href="__STATIC__/adminlte/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
<script src="__STATIC__/adminlte/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="__JS__/ueditor/1.4.3/ueditor.config.js"></script>
    <script type="text/javascript" src="__JS__/ueditor/1.4.3/ueditor.all.min.js"> </script>
    <script type="text/javascript" src="__JS__/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__JS__/My97DatePicker/WdatePicker.js"></script>
</block>

<!-- 面包屑导航 -->
<block name="navigation">
<section class="content-header">
    <h1>编辑公告<small></small></h1>
    <ol class="breadcrumb">
        <li><a href="{:U('Admin/Index/index')}"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">公告管理</li>
    </ol>
</section>
</block> 

<!-- 内容 -->
<block name="content">
<!-- Custom Tabs -->
<div class="nav-tabs-custom">
    
    <ul class="nav nav-tabs">
        <li><a href="{:U('Admin/Sys/index')}">公告列表</a></li>
        <li><a href="{:U('Admin/Sys/add')}">添加公告</a></li>
        <li class="active"><a href="#tab_1" data-toggle="tab">编辑公告</a></li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1" style="max-width:800px;">
                <form role="form" action="{:U('Sys/save')}" id="form-add">
                    <div class="form-group">
                        <label for="title">公告名称<font color='red'>*</font></label>
                        <input type="text" class="form-control" id="title" name="title" autocomplete="off" placeholder="公告名称" value="{$data.title}" style="width:250px;">
                    </div>
                    <div class="form-group" >
                        <label for="content">公告内容<font color='red'>*</font></label>
                        <script id="content" type="text/plain" style="width:100%;height:400px;" name="content">{$data.content|htmlspecialchars_decode}</script>
                    </div>
                    <div class="form-group" >
                        <label for="publishTime">发布时间<font color='red'>*</font></label>
                        <input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" id="publishTime" name="publishTime" class="input-text Wdate" style="width:180px;"  value="{$data.publishTime}">
                    </div>
                    <div class="form-group">
                        <label for="sort">排序</label><br>
                        <input type="number" class="form-control" id="sort" name="sort" autocomplete="off" min='0' max='99'  style="width:75px;" value="{$data.sort}">
                    </div>
                    <input type="hidden" name="id" value="{$data.id}">
                    <button class="btn btn-success" type="submit">保存</button>
                </form>

        </div><!-- /.tab-pane -->
 
    </div><!-- /.tab-content -->
</div><!-- nav-tabs-custom -->
 

</block>

<!-- js -->
<block name="js">
    <script type="text/javascript">
        var ue = UE.getEditor('content');
        //表单提交
        $(document)
            .ajaxStart(function(){
                $("button:submit").addClass("btn-default").removeClass('btn-primary').attr("disabled", true);
            })
            .ajaxStop(function(){
                $("button:submit").removeClass("btn-default").addClass("btn-primary").attr("disabled", false);
            });

            $("form").submit(function(){

                // 名称
                var name = $("#title").val();
                if (name == '') {
                    layer.msg('请输入标题', {
                        icon:0,
                        offset: 0,
                        shift: 6,
                        time:1500
                    });
                    return false;
                }
                // 内容
                var content = UE.getEditor('content').getContent();
                if (content == '') {
                    layer.msg('请输入内容', {
                        icon:0,
                        offset: 0,
                        shift: 6,
                        time:1500
                    });
                    return false;
                }
                // 时间
                var publishTime = $("#publishTime").val();
                if (publishTime == '') {
                    layer.msg('请输入时间', {
                        icon:0,
                        offset: 0,
                        shift: 6,
                        time:1500
                    });
                    return false;
                }

            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data){
                if (data.status) {
                    layer.msg(data.info, {
                        icon:1,
                        offset: 0,
                        shift: 0,
                        time:1500
                    }, function(){
                    });
                } else {
                    layer.msg(data.info, {
                        icon:0,
                        offset: 0,
                        shift: 6,
                        time:1500
                    }); 
                     
                }
            }
        });
    </script>
    <link rel="stylesheet"  href="__ROOT__/Public/Static/Huploadify/Huploadify.css" >
    <script charset="utf-8" src="__ROOT__/Public/Static/Huploadify/jquery.Huploadify.js"></script>
    <script charset="utf-8" src="__ROOT__/Public/Static/Huploadify/Huploadify.js"></script>

</block>